        h1{
            color: white;
            font-size: 60px; 
            text-align: center;
            font-family: Helvetica;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: 50px;
            margin-right: 5px;
            border: 2px solid black;
            padding-left: 15px;
            background-color: darkslateblue;
            box-shadow: 10px 5px 5px black;
            border-radius: 30px;
        }
        h2{
            color: white;
            font-size: 30px;
            text-align: center;
            font-family: Helvetica;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }
        p {
            text-align: center;
            font-family: Helvetica;
        }
        img {
            height: 320px; 
            /* width: 200px;  */
            /* comment out certain parts of code in css; press command. HTML same method but syntax is different / */
        }
        em {
            text-transform: uppercase;
            font-style: initial; 
        }
        body {
            /* background-color: mintcream; */
            background-image: url(Cosmos07.jpg);
            background-repeat: repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        #first {
            text-align: center;  
            color: white;
            background-color: black;
        }
        /* #second{
            text-align: right;  
        } */

        /* IDs are unique (can only be referenced once). Instead, we use "class"es (can be reused throughout the body). To styilze classes, you use "." */
        .right {
            text-align: medium;
            color: white;
        }
        .tacos {
            color: white;
        }
        .big {
            font-size: 32px;    
        }
        p.tacos .big{
            font-size: 48px;
            color: seagreen;
        }
